<!DOCTYPE html>
	<html>
		<head>
		<style>
		img {
    		border-radius: 20%;
		}
		</style>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:black;
			     color:white;">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

				{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:brianwray26@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bwray">github</a></li>
				<li><a href="https://www.linkedin.com/in/brian-wray-8a689918">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
